@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jacquard+24&display=swap');
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }

/*Reset CSS */
* {
margin:0;
padding:0;
box-sizing:border-box;
}

body {

    background-color: rgb(255, 255, 255);
    font-family:"Cormorant Garamond", serif;
    color: #fafafa;
    padding: 10px;
}

h2 {
    text-align: center;
}

#principal {
display: flex;
height:800px;
width: 100%;
background-color: rgba(240, 255, 255, 0.664);
border-radius: 6px;
justify-content: space-between;
}

header {
    background-color: rgba(11, 0, 0, 0.756);
    margin: 10px 0;
    border-radius:6px;
    height: 150px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;


}

main {
    background-color:#fafafa;
    border-radius: 6px ;
    height:100%;
    width: 74%;

}

aside {
background-color:#fafafa89;
border-radius: 6px;
width: 25%;

}

footer {
    background-color: rgb(187, 187, 186);
    border-radius: 6px;
    margin: 10px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
font-size: 1.2rem;
color: black;
}
footer a {
    color: antiquewhite;
    text-decoration: nome;
    font-weight: 500;
    bonder-bottom:1px 
}

#profile-image {
    height:120px;
    width:120px;
    border-radius:50%;
}